div.first_container_not_right {
    margin-top: 80px;
}
div.text_not_right {
    margin-top: 20px;
}
.first_row_space{
    margin-top: 10px;
}
.footer_text_space{
    margin-top: -10px;
}
.typeimg{
	zoom: 0.8;
}
.typetxt{
	margin-top: 3px;
}
.tabpanespace{
  position: relative;
  margin-left: 14px;
}
.image-cropper {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.rounded {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

table tr[data-href] {
    cursor: pointer;
}

html {
  position: relative;
  /*min-height: 100%;*/
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  box-shadow: inset 0px 2px 0px #e7e7e7; 
  height: 60px;
  background-color: #F3F3F3;
}

div.footer_not_right {
    margin-top: 100px;
}
div.nav_not_right {
    margin-bottom: 100px;
}